@charset "utf-8";

:root {
  --nav-color: rgb(82, 144, 12);
  --header-link-color: white;
  --header-link-hover-color: var(--link-color);
  --link-color: rgba(0, 0, 0, 0.75);
  --link-hover-color: rgb(69, 114, 17);
  --transparent-dark: rgba(0, 0, 0, 0.55);
  --text-color: rgb(70, 70, 70);
}

* {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  display: grid;
  min-height: 100%;
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;
  background-color: white;
}

footer {
  height: 100px;
}

p {
  font-size: 14px;
}

a {
  font-size: 12px;
  text-decoration: none;
  background-color: transparent;
  color: var(--link-color);
  transition: color 0.5s;
}

p,
h2 {
  color: rgb(70, 70, 70);
}

h2 {
  font-weight: bold;
  font-size: 16px;
}

a:hover {
  color: var(--link-hover-color);
}

.padding_box_2wh {
  padding: 2vw;
  background-color: white;
}
.padding_box_wh {
  padding: 100%;
  background-color: white;
}

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.search_icon {
  background-image: url(../images/icons/search.svg);
}

.cart_icon {
  background-image: url(../images/icons/cart.svg);
}

.user_icon {
  background-image: url(../images/icons/user-64.png);
}

.bell_icon {
  background-image: url(../images/icons/bell.svg);
}

.help_icon {
  background-image: url(../images/icons/help.svg);
}

.header_navbar .ig_icon {
  background-image: url(../images/icons/ig.svg);
}

.header_navbar .fb_icon {
  background-image: url(../images/icons/fb.svg);
}

.header_navbar .twitter_icon {
  background-image: url(../images/icons/twitter.svg);
}

.header_navbar .line_icon {
  background-image: url(../images/icons/line.svg);
}

.header_navbar .wa_icon {
  background-image: url(../images/icons/wa.svg);
}

.left_icon {
  background-image: url(../images/icons/left.svg);
}

.right_icon {
  background-image: url(../images/icons/right.svg);
}

.left_icon1 {
  background-image: url(../images/icons/left1.svg);
}

.right_icon1 {
  background-image: url(../images/icons/right1.svg);
}

.heart_icon {
  width: 15px;
  height: 100%;
  align-self: center;
  background-image: url(../images/icons/heart.svg);
  /* transition: background-image 0.5s; */
}
.hear_icon {
  width: 25px;
  height: 100%;
  align-self: center;
  background-image: url(../images/icons/heart.svg);
  /* transition: background-image 0.5s; */
}
.heart_icon.fill {
  background-image: url(../images/icons/heart1.svg);
}
.hear_icon.fill {
  background-image: url(../images/icons/heart1.svg);
}
.star {
  font-size: 20px;
  width: max-content;
  color: lightgrey;
}

.rating .half::before,
.rating .full::before {
  content: "\2605";
  position: absolute;
  top: 0;
  color: gold;
}

.rating .half::before {
  width: 8px;
  overflow: hidden;
}

.sized_box {
  display: grid;
}

.row_auto_2 {
  grid-template-rows: repeat(2, 0.5fr);
}

.row_auto_3 {
  grid-template-rows: repeat(3, 0.334fr);
}

.col_auto_10 {
  grid-template-columns: repeat(10, 1fr);
}

.col_auto_6 {
  grid-template-columns: repeat(6, 0.16667fr);
}

.col_auto_5 {
  grid-template-columns: repeat(5, 0.2fr);
}

.col_auto_4 {
  grid-template-columns: repeat(4, 0.25fr);
}

.col_auto_3 {
  grid-template-columns: repeat(3, 0.334fr);
}

.col_auto_max_content_5 {
  grid-template-columns: repeat(5, max-content);
}

.col_100 {
  grid-template-columns: 1fr;
}

.col_10_90 {
  grid-template-columns: 0.1fr 1fr;
}

.col_auto_90 {
  grid-template-columns: max-content 1fr;
}

.row_10_90 {
  grid-template-rows: 0.1fr 1fr;
}

.row_50_50 {
  grid-template-rows: 0.5fr 0.5fr;
}

.row_75_25 {
  grid-template-rows: 1fr 0.25fr;
}

.row_gap_10 {
  grid-row-gap: 10px;
}

.row_gap_5 {
  grid-row-gap: 5px;
}

.col_gap_10 {
  grid-column-gap: 10px;
}

.col_gap_5 {
  grid-column-gap: 5px;
}

.parent {
  position: relative;
}

.child {
  position: absolute;
}
