.stepper-input {
  display: flex;
  font-size: 15px;
  height: 75px;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
}

.btn-input {
  cursor: pointer;
  width: 30px;
  color: #000;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  height: 33px !important;
  background-color: rgb(231, 223, 223);
}

.btn-input:hover {
  color: rgb(231, 223, 223);
  background-color: #ad9e9e;
}

.btn-left {
  border-radius: 5px 0 0 5px;
}

.btn-right {
  border-radius: 0 5px 5px 0;
}

.input-box {
  padding: 4.5px;
  width: 70px;
  text-align: center;
  border-width: 0.1px;
  border-left-color: none !important;
  border-top-color: none !important;
  border-left-color: none !important;
  border-bottom-color: none !important;
}

/* //============================ */

.checkbox-border {
  border: 1px solid var(--border-color);
}
.total {
  display: none;
}
#ada {
  display: none;
}
.linesssss {
  width: 100%;
  border-top: 8px solid rgba(190, 184, 184, 0.527) !important;
}

.h a p:hover {
  color: grey !important;
}
.foot {
  height: 100px;
  width: 100%;
  background: rgb(241, 239, 239) !important;
  /* position: relative; */
}
.grid-gtr .div {
  display: grid !important;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr 1fr 1fr 1fr;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  height: auto;
}

.stepper {
  border: 1px solid #eee;
  display: inline-block;
  overflow: visible;
  height: 2.1em;
  background: #fff;
  padding: 1px;
}

.stepper input {
  width: 3em;
  height: 100%;
  text-align: center;
  border: 0;
  background: transparent;
  color: rgb(250, 100, 100);
}

.stepper button {
  width: 1.4em;
  font-weight: 300;
  height: 100%;
  line-height: 0.1em;
  font-size: 1.4em;
  padding: 0.2em !important;
  background: #eee;
  color: rgb(51, 51, 51);
  border: none;
}

/*==========================================================*/

.lose {
  display: none !important;
}

.clr {
  color: darkgray !important;
}
.shadow {
  border: 2px solid rgb(240, 178, 178);
  box-shadow: var(--text-color) 0px 1px 3px 0px;
}

@media (max-width: 995px) {
  .fn {
    font-size: 12px !important;
  }
}
@media (max-width: 768px) {
  .stepper input {
    width: 20px;
  }
  .stepper button {
    width: 25px;
  }

  .total {
    display: block;
  }
  .uk_produk {
    width: 50px !important;
    height: 50px !important;
  }

  .fs {
    font-size: 12px !important;
  }

  .pjg_textarea {
    width: 90px;
  }

  .hilang {
    display: none;
  }
  .lose {
    display: inline-block !important;
  }
  .hiddenn {
    display: none;
  }
  #ada {
    display: inline-block;
  }
  .btn-ukrnnn {
    margin-bottom: 5px;
  }
}
.mtop {
  margin-top: 150px;
}

@media (max-width: 650px) {
  .mtop {
    margin-top: 80px;
  }
}

@media (max-width: 480px) {
  .btn-ukrnnn {
    width: 100px !important;
    font-size: 10px !important;
  }
  .btn-ukk {
    width: 100px !important;
    margin-left: -10px;
  }
  .fss {
    font-size: 10px !important;
  }
  .btn-ukrnn {
    width: 100px !important;
    font-size: 10px !important;
  }

  .ukk {
    margin-top: 10px;
    font-size: 15px !important;
  }
  .ukkkkk {
    font-size: 12px !important;
  }
}

@media (max-width: 403px) {
  .heart {
    /* margin-bottom: 19px !important; */
  }
}
@media (max-width: 390px) {
  .row .mar-left {
    /* margin-left: 30px !important; */
    margin-top: -15px;
  }
}

@media (max-width: 381px) {
  .btn-ukrnnn {
    width: 80px !important;
    font-size: 8px !important;
    padding: 5px !important;
  }
  .btn-ukrnn {
    width: 80px !important;
    font-size: 10px !important;
    margin-right: -10px;
  }
  .fss {
    font-size: 10px !important;
    margin-left: -15px !important;
  }
  .btn_kode {
    margin-left: -15px;
  }
}
