@charset "UTF-8";

/* header */
.header_navbar {
  background: var(--nav-color);
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 80px; */
  padding: 10px 10px 10px;
  z-index: 999;
}

.header_navbar .navbar_list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.8fr;
  grid-row-gap: 15px;
}

.header_navbar .navbar_top {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  grid-template-rows: 1fr;
  align-content: center;
}

.navbar_top_icon {
  widows: 20px;
  height: 25px;
}

.header_navbar .navbar_top_row1 {
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
}

.header_navbar .navbar_top_row1_link {
  height: 100%;
  position: relative;
  display: grid;
  align-items: center;
}

.header_navbar .navbar_top_row1 *,
.header_navbar .navbar_top_row3 * {
  font-size: 13px;
}

.header_navbar .navbar_top_row1_link:hover,
.header_navbar .navbar_top_row3_link:hover {
  color: var(--header-hover-link-color);
}

.header_navbar .navbar_top_row1_link::after {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: -6px;
  height: 100%;
  width: 2px;
  margin-right: 0px;
}

.header_navbar .navbar_top_row1_follow_us {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, max-content));
  grid-template-rows: 1fr;
  align-items: center;
}

.header_navbar .navbar_top_row1_follow_us_title {
  grid-column: span 2;
}

.header_navbar .navbar_top_row1_link,
.header_navbar .navbar_top_row1_follow_us *,
.header_navbar .navbar_top_row3_link {
  position: relative;
  color: var(--header-link-color);
}

.header_navbar .navbar_top_row3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
  grid-column-gap: 10px;
  justify-content: end;
}

.header_navbar .navbar_top_row3_link {
  display: grid;
  grid-template-columns: 0.3fr 0.3fr;
  grid-column-gap: 5px;
  align-items: center;
}

.header_navbar .navbar_bottom {
  display: grid;
  grid-template-columns: 0.3fr 0.55fr 0.05fr 0.05fr 0.05fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  justify-content: space-around;
}

.header_navbar .navbar_bottom1 {
  display: grid;
  grid-template-columns: 280px 30px 0.75fr 0.05fr 0.05fr 0.05fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  justify-content: space-around;
}
.dropdown1 {
  margin-top: 5px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(214, 217, 218);
}

.dropdown1:hover .dropdown-content {
  display: block;
}

.dropdown1:hover .dropbtn {
  background-color: rgb(214, 217, 218);
}
.header_navbar .nav_icon {
  display: none;
}

.header_navbar .logo {
  cursor: pointer;
}

.header_navbar .logo_image {
  width: 280px;
  height: 100%;
  background: url(../images/logo.png) center / contain no-repeat;
}

.header_navbar .logo_image1 {
  width: 280px;
  height: 100%;
  background: url(../images/logo.png) center / contain no-repeat;
}
.header_navbar .search_bar {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-content: center;
  /* grid-template-rows: 20px; */
  /* margin-top: -30px; */
}

.header_navbar .search_field {
  height: 48px;
  border: 2px solid white;
  border-radius: 5px 0 0 5px;
  outline: none;
  background-color: white;
  padding: 10px;
}

.header_navbar .search_icon_box {
  margin-left: -2px;
  transition: background-color 0.5s;
  border: 2px solid white;
  border-radius: 5px;
  height: 48px;
  width: 60px;
  display: grid;
  align-items: center;
  justify-items: center;
  transition: background-color 0.5s;
}

.header_navbar .search_icon_box:hover {
  background-color: var(--link-hover-color);
}

.header_navbar .cart,
.header_navbar .notifications,
.header_navbar .user {
  position: relative;
  align-self: center;
  justify-self: center;
}
.header_navbar .notifications1 {
  position: relative;
  align-self: center;
  justify-self: center;
}
.header_navbar .cart::before {
  content: "";
  position: absolute;
  left: -13px;
  top: -10px;
  padding: 1px;
  width: 50px;
  height: 52px;
  cursor: pointer;
}

.header_navbar .cart::after {
  content: "";
  position: absolute;
  bottom: -27px;
  left: -13px;
  padding: 1px;
  width: 50px;
  height: 15px;
}

.header_navbar .cart_quantity {
  position: absolute;
  top: -8px;
  right: -15px;
  background: white;
  height: 20px;
  width: 27px;
  font-size: 12px;
  color: var(--nav-color);
  border-radius: 20px;
  display: grid;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.header_navbar .cart_isosceles {
  position: absolute;
  top: 36px;
  border: 15px solid transparent;
  border-top-color: #e4e4e4;
  z-index: 99;
  perspective: 400px;
  transform: rotateZ(-46deg);
  cursor: pointer;
}

.header_navbar .cart_content {
  position: absolute;
  right: -5%;
  top: 150%;
  background-color: #e4e4e4;
  border-radius: 5px;
  padding: 5px;
  max-height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 5px;
  overflow: auto;
}

.header_navbar .cart_content > p {
  height: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  font-size: 14px;
}

.header_navbar .cart_item {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: 0.2fr 0.59fr 0.21fr;
  grid-template-areas:
    "img title price"
    "img title link";
  height: 50px;
  align-self: center;
  position: relative;
}

.header_navbar .cart_item::after {
  content: "";
  background: rgb(101, 101, 101);
  z-index: 1;
  /* width: 100%; */
  height: 1px;
  position: absolute;
  bottom: -1px;
}

.header_navbar .cart_item_image {
  width: 100%;
  height: 48px;
  object-fit: cover;
  grid-area: img;
}

.header_navbar .cart_item_title,
.header_navbar .cart_item_price {
  font-size: 12px;
  font-weight: bold;
}

.header_navbar .cart_item_title {
  grid-area: title;
}

.header_navbar .cart_item_price {
  grid-area: price;
}

.header_navbar .cart_item_delete {
  grid-area: link;
}

.header_navbar .cart_button {
  color: white;
  background-color: var(--nav-color);
  display: grid;
  align-content: center;
  justify-content: center;
  justify-self: center;
  height: 25px;
  width: 50%;
  border-radius: 50px;
  transition: background-color 0.5s;
  margin-bottom: 5px;
}

.header_navbar .cart_button:hover {
  background-color: var(--link-hover-color);
}

@media (max-width: 1033px) {
  .header_navbar .navbar_bottom {
    grid-template-columns: 0.3fr 0.8fr 0.05fr 0.05fr 0.05fr !important;
  }
}
@media (max-width: 979px) {
  .header_navbar .navbar_bottom {
    grid-template-columns: 0.3fr 1fr 0.05fr 0.05fr 0.05fr !important;
  }
}

@media only screen and(max-width:768px) {
  .header_navbar .logo_image1 {
    width: 150px !important;
  }
  .header_navbar .logo1 {
    width: 150px !important;
  }
  #dropdwon {
    width: 25px;
  }
  .header_navbar .navbar_bottom1 {
    grid-template-columns: 150px 30px 0.75fr 0.05fr 0.05fr 0.05fr !important;
    grid-column-gap: 0;
  }
}

@media (max-width: 735px) {
  .header_navbar .logo {
    width: 150px !important;
  }
  .header_navbar .logo_image {
    width: 150px !important;
  }
  .header_navbar .navbar_bottom {
    grid-template-columns: 0.1fr 0.8fr 0.05fr 0.05fr 0.05fr !important;
    grid-column-gap: 0;
  }
}
@media only screen and (max-width: 650px) {
  #dropdown {
    width: 25px;
  }
  .header_navbar .logo {
    width: 100px !important;
  }
  .header_navbar .logo_image {
    width: 100px !important;
  }
  .header_navbar .logo_image1 {
    width: 100px !important;
  }
  .header_navbar .logo1 {
    width: 100px !important;
  }

  .header_navbar .navbar_bottom1 {
    grid-template-columns: 80px 30px 0.6fr 0.03fr 0.03fr 0.03fr;
    grid-column-gap: 0;
  }

  .header_navbar {
    height: 50px;
  }

  .header_navbar .navbar_list {
    grid-template-rows: 0fr 1fr;
  }

  .header_navbar .navbar_top {
    display: none;
  }

  /* .header_navbar .navbar_bottom {
    grid-template-columns: 0.7fr 0.1fr 0.1fr 0.1fr;
    grid-column-gap: 0;
  } */
  .header_navbar .navbar_bottom {
    grid-template-columns: 0.1fr 0.8fr 0.05fr 0.05fr 0.05fr !important;
  }

  /* .header_navbar .logo {
    display: none;
  } */

  .header_navbar .search_bar {
    grid-template-columns: 0.95fr 0.05fr;
  }

  .header_navbar .search_field {
    height: 30px;
  }

  .header_navbar .search_icon_box {
    height: 30px;
    padding: 5px;
    width: fit-content;
    background: white;
    border: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: white;
  }

  .header_navbar .search_icon_box:hover {
    background: white;
  }

  .search_icon,
  .cart_icon,
  .bell_icon,
  .user_icon {
    height: 20px;
    width: 20px;
  }

  .search_icon {
    background-image: url(../images/icons/search2.svg);
  }

  .header_navbar .cart_quantity {
    width: 15px;
    height: 15px;
    top: -4px;
    right: -6px;
  }

  .header_navbar .cart::before {
    width: 25px;
    height: 40px;
    left: -4px;
    top: -5px;
    z-index: -1;
  }

  .header_navbar .cart_isosceles {
    top: 25px;
    border-width: 11px;
  }
}

@media (max-width: 560px) {
  .profile-dropdown {
    width: 300px !important;
  }
}

@media (max-width: 460px) {
  .header_navbar .logo {
    width: 50px !important;
  }
  .header_navbar .logo_image {
    width: 50px !important;
  }
  .search_icon,
  .cart_icon,
  .bell_icon,
  .user_icon {
    height: 15px;
    width: 15px;
  }
  .header_navbar .cart_quantity {
    height: 12px;
    width: 12px;
    top: -3px;
  }
  .header_navbar .navbar_bottom {
    grid-template-columns: 50px 0.5fr 10px 10px 10px;
  }

  .header_navbar .search_field {
    /* height: 20px; */
    font-size: 10px;
  }
}
@media only screen and (max-width: 350px) {
  /* .header_navbar .navbar_bottom {
    grid-template-columns: 0.7fr 0.1fr 0.1fr;
  } */

  /* .header_navbar .notifications {
    display: none;
  } */

  .header_navbar .navbar_bottom1 {
    grid-template-columns: 70px 25px 0.7fr 12px 12px 12px;
  }
  .header_navbar .logo_image1 {
    width: 70px !important;
  }
  .header_navbar .logo1 {
    width: 70px !important;
  }
  .header_navbar .logo {
    /* display: none; */
  }
}
