@charset "UTF-8";
@import "base.css";
@import "nav.css";

.body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  grid-row-gap: 15px;
  z-index: 0;
}

.nav_arrow {
  top: 45%;
  color: transparent;
  background: transparent;
  height: 60px;
  width: 60px;
  z-index: 1;
  font-size: 30px;
  display: grid;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  transition: background-color 0.5s, color 1s;
}

.nav_arrow:hover {
  background-color: var(--link-color);
  color: white;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.circular {
  border-radius: 50px;
}

.nav_arrow.slider_arrow {
  width: 35px;
  height: 35px;
  background: white;
  border: 1px solid var(--border-color);
  box-shadow: var(--text-color) 0px 1px 10px 0px;
  opacity: 0;
}

.nav_arrow.left {
  left: 0;
  z-index: 10;

}

.nav_arrow.right {
  right: 0;
}

.nav_arrow.left_1_vw {
  left: 1vw;
}

.nav_arrow.right_1_vw {
  right: 1vw;
}

.nav_arrow.left_m1_w {
  left: -1vw;
}

.nav_arrow.right_m1_w {
  right: -1vw;
}

/* untuk dropdown ======================================================*/


.bg-chat{
  position:fixed;
  height:35px;
  width:120px;
  background:white;
border-radius:20px;
bottom:8%;
right:3%; 
 box-shadow: 1px 1px 6px 1px #888888;
z-index:10;
display:flex;
align-items:center;
justify-content:center;
cursor:pointer;
}
/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 8%;
  right: 3%;
  z-index: 19;
  background-color: #fff;
  width:50%;
  height:70%;
  border-radius: 10px;
          box-shadow: 0 0 10px #b4b3b3;

   /* box-shadow: 2px 2px 6px 2px ; */
   overflow-y: hidden;
}

#pesan p{
  font-family: 'Balsamiq Sans', cursive;

}
::-webkit-scrollbar { 
display: none; 
}

.form-search-chat {
  display: flex;
  flex-direction: row;
  border: 1px solid #509400;
  height:35px;
  z-index:15;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.input-search-chat {
  /* Tell the input to use all the available space */
  flex-grow: 2;
  /* And hide the input's outline, so the form looks like the outline */
  border: none;
  width:100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.input-search-chat:focus {
  /* removing the input focus blue box. Put this on the form if you like. */
  outline: none;
}
.button-search-chat:focus {
  outline: none;
}
.button-search-chat {
  /* Just a little styling to make it pretty */
  border: 1px solid #509400;
  background: #509400;
  color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.button-search-chat:hover {
  background: #487e06;
}

.chat-hover:hover{
  background-color: #487e06 !important;
}
.chat-hover:hover p{
   
  color:#fff;

  
}

.activeee{
  background-color: #487e06 !important;
}
.activeee p{
    color:#fff;

}



.dropdownnn {
  position: relative;
  display: inline-block;
}

.dropdown-contenttt {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 400px;
overflow: auto;
  border-radius: 5px;
  right: 0;
  z-index: 1;
      border: 1px solid rgba(0, 0, 0, 0.15);
}

.dropdown-contenttt a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownnn a:hover {background-color: #f8f9fa;}

.showww {display: block;}

/* ============================================================ */

.home_banners {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  grid-column-gap: 10px;
  position: relative;
  height: 350px;
  margin-top: 100px;
  background-color: white;
}

.left_banner {
  overflow: hidden;
}

.left_banner .carousel_img {
  position: absolute;
}
.carousell{
  width:90%;
  margin:0px auto;
}
.slick-slide{
  margin:10px;
}
.slick-slide img{
  width:100%;
  border: 2px solid #fff;
}
.right_banner {
  display: grid;
  grid-row-gap: 5px;
}


.carousel_img,
.right_banner_img {
  background-position: left top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.slider_box {
  overflow: auto;
}

/* add */
.slider_box::-webkit-scrollbar {
  height: 0;
  background-color: transparent;
}

/* update */
.decoration_box_1 {
  top: 0;
  width: 10%;
  height: 50%;
  display: grid;
  grid-template-rows: 1fr 0.2fr;
  grid-column-gap: 10px !important;
  transition: transform 0.5s;
}

.decoration_box_1:hover {
  transform: scale(1.03);
  box-shadow: 0 0 1.5px rgb(71, 71, 71);
  border: 0.1px solid rgba(54, 53, 53, 0.226);
}

.decoration_box_1:nth-child(odd) {
  top: 0;
}

.decoration_box_1:nth-child(even) {
  top: 50%;
}

.decoration_box_1 .decoration_img_title {
  text-align: center;
  font-size: 14px;
}

.decoration_box_1 .decoration_title {
  padding: 5px;
  text-align: center;
  font-size: 13px;
}

.decoration_label_box {
  padding: 5px;
  background-color: var(--nav-color);
  color: white;
  font-size: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.decoration_label_box_2 {
  display: grid;
  width: 42px;
  justify-items: center;
  margin-right: 3px;
}

.decoration_label_box_2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  border-bottom: 20px solid transparent;
  border-left: 25px solid var(--nav-color);
}

.decoration_label_box_2::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -20px;
  border-bottom: 20px solid transparent;
  border-right: 25px solid var(--nav-color);
}

.decoration_label_box_3 {
  bottom: 87px;
  height: max-content;
  background-color: transparent;
  padding: 0;
}

.decoration_label_box_3 span {
  display: block;
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 100px;
}

.decoration_img,
.decoration_img_box {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.decoration_slider {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 300px;
}

.decoration_img_box {
  border: 1px solid rgb(235, 235, 235);
  transition: all 0.5s;
}

.decoration_img_box:hover {
  box-shadow: darkgrey 0 0 5px 2px;
}

.decoration_description_box a,
.decoration_description_box p {
  font-size: 15px;
}

.decoration_price_box {
  grid-template-columns: max-content max-content;
}

.decoration_price,
.decoration_discount {
  color: var(--nav-color);
}

.decoration_description_box {
  padding: 5px 5px;
}

.decoration_sale {
  text-decoration: line-through;
  color: var(--text-color);
}

#popular_product .heart_icon {
  width: 15px;
  height: 100%;
  align-self: center;
}

footer {
  background-color: var(--nav-color);
}

/* untuk garis =================================================================== */
.bg {
  width: 100%;
  height: 40px;
  background-color: #ececec;
  margin-bottom: 10px;
  margin-top: 25px;
}
.bg .detail {
  display: grid;
  grid-template-columns: max-content 1fr;
  padding-left: 10px;
  padding-right: 10px;
  /* buat center vertical line-height sesuaikan dengan tinggi parentnya*/
  line-height: 40px;
  text-align: right;
  width: 100%;

  /* grid-column-gap: 85%; */
}
/* .bg .detail p {
  float: right;
  font-size: 17px;
} */
.bg .detail p a {
  font-size: 17px;
}

.bg .detail p a:hover {
  color: rgba(250, 119, 95, 0.904);
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

/* untuk produk siap santap ==========================================================*/
.contain {
  margin-top: 30px;
  width: auto;
  height: auto;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* background-color: rosybrown; */
}

.containnn {
  margin-top: 30px;
  width: auto;
  height: auto;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-rows: 1fr;
  /* background-color: rosybrown; */
}
.containn {
  margin-top: 30px;
  width: auto;
  height: auto;
  display: grid;

  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* background-color: rosybrown; */
}
.bentuk {
  width: 100%;
  height: 290px;
  border-radius: 5px;
  transition: 0.3s;
  padding: 3px;
  box-shadow: 0 0 1.5px rgb(71, 71, 71);
  border: 0.1px solid rgba(54, 53, 53, 0.226);
}
.bentukkk {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  transition: 0.3s;
  padding: 3px;
  box-shadow: 0 0 1.5px rgb(71, 71, 71);
  border: 0.1px solid rgba(54, 53, 53, 0.226);
}

.bentukkkkk {
  margin: 0;
  padding: 0;
  width: 240px;
  height: 250px;
  border-radius: 5px;
  transition: 0.3s;
  padding: 3px;
  box-shadow: 0 0 1.5px rgb(71, 71, 71);
  border: 0.1px solid rgba(54, 53, 53, 0.226);
}
.bentukkkkk img {
  height: 60%;
  width: 100%;
  border-radius: 5px;
}
.bentuk img {
  height: 60%;
  width: 100%;
  border-radius: 5px;
}

.bentukk {
  width: 100%;
  height: 270px;
  border-radius: 5px;
  transition: 0.3s;
  padding: 3px;
  box-shadow: 0 0 1.5px rgb(71, 71, 71);
  border: 0.1px solid rgba(54, 53, 53, 0.226);
}
.bentukk img {
  height: 55%;
  width: 100%;
  border-radius: 5px;
}
/* sembunyikan tombol */
.tombol {
  visibility: hidden;
  display: grid;
  justify-content: center;
}
.bentuk:hover {
  border-radius: 5px;
  /* border: 1px solid #000; */
  box-shadow: 2px 2px 5px rgb(71, 71, 71);
  transform: scale(1.03);
}
.bentukkkkk:hover {
  border-radius: 5px;
  /* border: 1px solid #000; */
  box-shadow: 2px 2px 5px rgb(71, 71, 71);
  transform: scale(1.03);
}
.bentukk:hover {
  border-radius: 5px;
  /* border: 1px solid #000; */
  box-shadow: 2px 2px 5px rgb(71, 71, 71);
  transform: scale(1.03);
}
/* .bentuk:hover .tombol {
  visibility: visible;
}

.desain_button button {
  width: 150px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 5px;
  /* margin: auto; */
/* align-items: center; 
}*/

/* .bg_button_addtocart {
  background-color: rgb(243, 123, 10);
}
.bg_button_quickview {
  background-color: rgba(102, 245, 83, 0.925);
} */
*/

/* untuk hilankan isi dari class ini saat di hover */
/* .bentuk:hover .max_line,
.bentuk:hover .image_desc {
  visibility: hidden;
} */
.max_line progress {
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 30px;
  line-height: 15px;
  box-sizing: content-box;
  max-lines: 2;

  /*
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left;*/
}

.max_line p {
  text-decoration: none;
}
.image_desc {
  display: grid;
  /*buat jadi 3 baris */
  grid-template-rows: repeat(3, 0.334fr);
}

.image_desc_detail {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 5px;
}
.font_judul {
  font-size: 16px;
}

.harga {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 10px;
}
.harga p {
  font-size: 17px;
}
.hargaa p{
    font-size: 17px;

}

.hide-text{
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; 
   -webkit-box-orient: vertical;
}
.hide-text1{
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; 
   -webkit-box-orient: vertical;
}
.container_banner {
  margin-top: -15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
}

.container_banner .banner_bentuk {
  height: 250px;
  width: auto;
}

.container_banner .banner_bentuk img {
  height: 100%;
  width: 100%;
}

.posisi_absolute {
  position: absolute;
}

.garis {
  border-top: 1px solid rgba(182, 179, 179, 0.527);
  width: 100%;
  margin-top: -20px;
}

.info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-template-rows: 200px;
  margin-top: -30px;
}

.belanja {
  padding: 30px;
}
.belanja h2 {
  font-size: 23px;
  margin-bottom: 30px;
}
.belanja a {
  display: block;
}
.belanja a img {
  height: 30px;
  width: 150px;
}

.belanjaa h2 {
  font-size: 23px;
}


.belanjaa a {
  display: block;
}
.belanjaa a img {
  height: 30px;
  width: 150px;
}

.belanja p a {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 13px;
  color: #666;
  font-family: Arial, sans-serif;
}
.belanja p a:hover {
  color: red;
}

.belanjaaa {
  padding: 30px;
}
.belanjaaa h2 {
  font-size: 23px;
  margin-bottom: 30px;
}
.belanjaaa a {
  display: block;
}
.belanjaaa a img {
  height: 30px;
  width: 150px;
}

.belanjaaa p a {
  font-size: 16px;
  margin-bottom: 13px;
  font-family: Arial, sans-serif;
}


.belanjaa p a {
  display: inline-block;
  font-size: 16px;

  color: #666;
  font-family: Arial, sans-serif;
}
.belanjaa p a:hover {
  color: red;
}
.kolom2 {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  grid-template-rows: 200px;
  padding: 10px;
}
.kolom22 {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  grid-template-rows: 200px;
  padding: 10px;
}

.kolom2 h2 {
  margin-top: -30px;
  font-size: 23px;
  margin-bottom: 20px;
}
.kolom2 img {
  width: 370px;
  height: 160px;
}

.kolom2 .pembayaran img {
  width: 700px;
  height: 120px;
}
.kolom2 .pembayarann img {
  width: 400px;
  height: 120px;
}

.kolom22 h2 {
  margin-top: -30px;
  font-size: 23px;
  margin-bottom: 20px;
}
.kolom22 img {
  width: 370px;
  height: 160px;
}

.kolom22 .pembayaran img {
  width: 700px;
  height: 120px;
}
.kolom22 .pembayarann img {
  width: 400px;
  height: 120px;
}
.dis {
  margin: -20px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 60px;
  text-align: center;
}

.dis .iconv {
  margin: auto;
}
.dis .iconv p {
  margin-left: 120px;
}

.dis .iconv img {
  margin-left: 120px;
  height: 50px;
  width: 50px;
}

/* untuk caegory ================================================================= */

.grid_kategori {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 20px;
}

.bentuk_kategori1 {
  position: relative;
  transition: 0.3s;
  width: 110px;
  height: 140px;
  border-radius: 5px;
  border: 0.1px solid rgba(0, 0, 0, 0.185);
}
.bentuk_kategori1:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 3px black;
}

.bentuk_kategori2 {
  /* margin: auto; */
  margin-top: 7px;
  /* margin-bottom: auto; */
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
  border-radius: 5px;
}
.bentuk_kategori2 img {
  border: 4px solid rgb(235, 81, 81);
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.modal-color {
  border: 2px solid orange !important;
  color: rgb(255, 78, 47) !important;
}

.bentuk_kategori2 p {
  position: absolute;
  left: 0;
  bottom: 15px;
  text-align: center;
}

/* halaman detail =============================================== */
.kolom2_details {
  grid-template-columns: repeat(2, 1fr);
}

.store_gallery {
  margin-top: 150px;
}

.store_gallery .container .row .col-lg-8 img {
  border-radius: 35px;
}

.thumbnail-image {
  margin-bottom: 20px;
  border: 2px solid transparent;
}
.thumbnail-image:hover {
  border: 2px solid #da3d22;
}
.thumbnail-image:active {
  border: 2px solid #ff7158;
}

.no-padding {
  margin: 0 !important;
  padding: 0 !important;
}
.button-height {
  height: 45px;
}

.store_galleryy {
  margin-top: 150px;
}
.bg-green {
  background: #86f10b;
}

.images img {
  height: 20px;
  width: 20px;
}
.imag img {
  height: 30px;
  width: 30px;
}
.inline_block {
  display: inline-block;
}
.bulat {
  border-radius: 50%;
  border: 5px solid rgb(192, 191, 191);
}
.bulatt {
  border-radius: 50%;
  border: 2px solid rgb(192, 191, 191);
}
.gmbr img {
  height: 50px;
  width: 50px;
}
.gambarrr img {
  height: 30px;
  width: 30px;
}
.gmbar img {
  height: 50px;
  width: 50px;
}
.uk {
  height: 70px;
  width: 70px;
}
.uk-text h6 {
  font-size: 14px;
}

.r button {
  font-size: 14px;
  height: 30px;
  width: 120px;
  text-align: center;
}

.indexxx {
  z-index: 0;
}

.s button:hover {
  background-color: rgb(248, 150, 150);
}
.s .aktif {
  background-color: rgb(248, 150, 150);
}

.txt-color {
  color: rgba(161, 159, 159, 0.979);
}
.mLefttt {
  margin-right: 29px !important;
}

.garisss {
  border-top: 1px solid rgba(182, 179, 179, 0.527);
  width: 100%;
  margin-top: -20px;
}
.garissss {
  border-top: 1px solid rgba(182, 179, 179, 0.527);
  width: 100%;
  margin-top: -20px;
}
.garisssss {
  border-top: 1px solid rgba(182, 179, 179, 0.527);
  width: 100%;
  margin-top: -20px;
}
.lihat-semua:hover {
  color: red;
}
/* add */
.font_judull {
  font-size: 16px;
}

/* ============================= halaman category details =========================== */
.images-carousel {
  height: 330px;
  width: auto;
}
.toppp {
  margin-top: 120px;
}

.back_color {
  background: rgb(189, 181, 181);
  height: auto;
  width: auto;
}
.back-color {
  background: #e2e1e1f3;
}

.navbarrr {
  list-style-type: none;
}
.navbarrr li {
  background: #dfdfdf;
  float: left;
  margin-right: 5px;
}

.navbarrr li a {
  display: block;
  color: black;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}

.navbarrr li a:hover {
  background-color: #bdb2b2;
}
.filter-font h6 {
  font-size: 14px !important;
}

.info-produk {
  grid-template-columns: 100px auto  150px 230px !important;
  display: grid !important;
}

.hoverrr a p:hover {
  color: #fd1547;
  font-weight: bold;
}
.actives{
   color: #fd1547 !important;
  font-weight: bold !important;
}
.ppp {
  color: #fd1547;
  font-weight: bold;
}
.btn-laporkan {
  border-color: rgb(189, 181, 181) !important;
  border-width: 1px !important;
}

.btn-laporkan:hover {
  color: rgb(189, 181, 181) !important;
}

.lebar {
  width: auto !important;
  height: 230px !important;
  border-width: 1px !important;
  border-color: rgba(161, 159, 159, 0.979) !important;
  border-style: solid;
  padding: 10px;
  background: rgba(243, 240, 240, 0.904);
}

.gtc {
  display: grid;
  grid-template-columns: 1fr 170px;
  grid-template-rows: 1fr;
  height: 70px;
  align-items: center;
  align-content: center;
  width: auto !important;
  height: 70px !important;
  border-width: 1px !important;
  border-color: rgba(161, 159, 159, 0.979) !important;
  border-style: solid;
}

.stickyy {
  position: fixed;
  top: 0;
  margin-top: 120px;
  z-index: 10;
  width: 80%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: var(--text-color) 0px 0px 3px 0px;
  padding-top:6px;
}

.stickyyy {
  position: fixed;
  top: 0;
  margin-top: 120px;
  z-index: 10;
  width: 55%;
  background-color: #fff;
  padding-left:5px;
  border-radius: 20px;
  box-shadow: var(--text-color) 0px 0px 3px 0px;
  padding-top:6px;
}

.stickyyyyy {
  position: sticky !important;
  top: 20%;
  right:100px;
  /* height:350px !important; */
  z-index: 10;
  /* width: 55%; */
  background-color: transparent !important;
  border-radius: 20px;
  /* box-shadow: var(--text-color) 0px 0px 3px 0px; */
}
.mrgn {
  margin-top: 5px !important;
  margin: 6px;
}
.swal-wide{
    width:350px !important;
    font-size:12px !important;
}

/*================ halaman kategori =================================*/
.modal.fade.modal-right .modal-dialog {
  transform: translate(165%, 0px);
}
.modal.show.modal-right .modal-dialog {
  transform: none;
}

.bg-modal .col-6 button {
  background: rgb(233, 232, 232);
}

.bg-modalll {
  background: rgb(233, 232, 232) !important;
}

.lebarrr{
width:1250px !important;
}

.kat{
  height:140px;
  margin:0 auto;
  margin-top:3%;
  overflow:hidden;
}
#lok{
  height:140px;
  margin:0 auto;
  margin-top:3%;
  overflow:hidden;
}
#lokFilter{
  height:140px;
  margin:0 auto;
  margin-top:3%;
  overflow:hidden;
}


@media (max-width: 1199px) {
  .info-produk {
    display: none !important;
  }
  .garisssss {
    display: none !important;
    border: none;
  }
.hrg{
  margin-top:-10px;
  float: none !important;
}
  .hrgg{
    margin-top:-14px;
  }

  .containn{
      grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 980px) {
  .fav-tulisan h6 {
    font-size: 13px;
  }
  .tlsn {
    font-size: 13px;
  }
  .uk-text h6 {
    font-size: 12px;
  }

  .ukuran-btn button {
    width: 90px;
    height: 30px;
    font-size: 9px;
  }
  .font_judull {
    font-size: 14px;
  }

  .margin_auto {
    margin: auto;
  }
  .stickyyy{
    margin-top:120px;
  }
}
@media only screen and (max-width: 850px) {
  #category .decoration_box_1 {
    width: 14.286%;
  }

  #category .slider_arrow {
    display: none;
  }

  .slider_box {
    overflow: auto;
  }
  .fav-tulisan h6 {
    font-size: 13px;
  }
  .kolom22 {
    display: none;
  }
  .garissss {
    display: none;
  }
}

@media (max-width: 768px) {
  .home_banners {
    height: 250px;
  }
  .diss{
    margin:0px !important;
  }
  .shippingFooter{
    display:none;
  }
#gar{
  display:none;
}
  div.contain {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
.lebarrr{
width:768px !important;
}
.bentukkkkk {
  height: 250px !important;
}
  div.banner_bentuk {
    height: 140px !important;
  }

  .info {
    grid-template-columns: 1fr 1fr !important;
    grid-column-gap: 5px;
    grid-template-rows: auto;
    margin-top: -30px;
  }
.info .belanja p{
  margin-bottom:0rem !important;
}
  .kolom2 {
    display: none !important;
  }
  .kolom22 {
    display: none !important;
  }

  .garis {
    display: none;
  }

  .belanja h2 {
    font-size: 18px !important;
  }
  .belanjaaa h2 {
  font-size: 18px !important;
}
  .belanjaa h2 {
    font-size: 18px !important;
  }

  .belanja p a {
    font-size: 13px !important;
  }
  .belanjaa p a {
    font-size: 13px !important;
  }
.belanjaaa p a {
    font-size: 13px !important;
  }
  .belanja.belanja a img {
    height: 20px;
    width: 110px;
  }
  .belanjaa.belanjaa a img {
    height: 20px;
    width: 110px;
  }
  .store_galleryy {
    margin-top: 20px !important;
  }
  .fav-tulisan h6 {
    font-size: 12px;
  }
  .bentuk-input {
    width: 50px !important;
    height: 28px !important;
    font-size: 10px !important;
  }
  .bentuk-input-btn {
    width: 60px !important;
    height: 28px !important;
    font-size: 10px !important;
  }

  .garis-input {
    width: 10px !important;
  }

  .fonttt {
    font-size: 10px;
  }
  .fonttt li a {
    font-size: 10px;
  }
  .fonttt li a div img {
    width: 10px;
    height: 10px;
  }
  .fonttt li a div {
    font-size: 10px;
  }

  .containn {
    margin-top: 30px;
    width: auto;
    height: auto;
    display: grid;

    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* background-color: rosybrown; */class="font-weight-bold"
  }

  .font-deskripsi {
    font-size: 9px !important;
  }

  .besar-button {
    width: 50px !important;
    height: 30px !important;
  }

  .dropdown img {
    display:none;
}


#foot{
  display:none;
}

}

/* update */
@media (max-width: 660px) {
  .home_banners {
    margin-top: 50px;
    grid-template-columns: 1fr;
  }

  .right_banner {
    display: none;
  }

  #category .decoration_box_1 {
    width: 20%;
  }

  .banner_bentuk {
    height: 120px !important;
  }

  .bg .detail p {
    text-align: right;
    font-size: 13px !important;
  }
  .store_gallery {
    margin-top: 60px !important;
  }
  .store_galleryy {
    margin-top: 0 !important;
  }
  .fav-tulisan h6 {
    font-size: 12px;
  }
  .toppp {
    margin-top: 60px;
  }
  .images-carousel {
    height: 220px;
    width: auto;
  }
}

@media (max-width: 650px){
  .stickyy {
  margin-top: 60px !important;
}
 .stickyyy {
  margin-top: 60px !important;
}
}
/* ========================== */
@media (max-width: 550px) {
  div.contain {
    grid-template-columns: repeat(2, 1fr);
  }
  .lebarrr{
width:550px !important;
}
  /* .bg .detail p {
    text-align: right;
    font-size: 12px !important;
  } */

  .uk-text {
    font-size: 16px;
  }
  .uk-label {
    font-size: 12px;
  }
  .uk-label p {
    font-size: 16px !important;
  }

  .mg-rgt {
    margin-right: 5px !important;
  }

  .fav-tulisannn h6 {
    font-size: 13px;
  }
  .lf {
    margin-left: 10px;
  }

  .fav-tulisannnn {
    font-size: 11px;
  }

  .mleft {
    margin-left: -18px;
  }
  .filter-font h6 {
    font-size: 12px !important;
  }

 
}

@media(max-width:600px){
  .navbarrr li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 10px !important;
}
}
@media(max-width:516px){
   #kepala .col .row a .col .pa{
    display: none;
  }

   #kepala .col .row a .col .paa{
    margin-left: -30px;
  }
   .stickyy{
    /* display:none !important; */
  }

  .stickyyy{
    /* display:none !important; */
  }
  
}
@media (max-width: 455px) {
  .toko {
    margin-right: 20px;
  }
  .ukuran-btn button {
    width: 90px;
    height: 30px;
    font-size: 9px;
  }
  .indexxx .input-group {
    width: 120px;
    height: 30px !important;
  }
  .font-kuantitas {
    font-size: 12px;
  }

  .containn {
    margin-top: 30px;
    width: auto;
    height: auto;
    display: grid;

    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* background-color: rosybrown; */
  }

  .ukuran {
    font-size: 11px;
    
  }
  .qa-gambar {
    height: 20px !important;
    width: 20px !important;
  }
  .butn {
    width: 120px !important;
    font-size: 10px !important;
    margin-left: 25px !important;
  }

  .gtc {
    width: auto !important;
    height: 40px !important;
  }

 
}
.indexxx .input-group {
  width: 120px !important;
  height: 30px !important;
}

@media (max-width: 413px) {
  .lebar-input {
    width: 70px !important;
    height: 25px !important;
  }
  .panjang{
    width: 10px
  }
.qa-gambar {
    display: none;
  }
  .bg-modal .col button{
    font-size: 7px !important;
  }
  .ukuran {
    font-size: 11px;
    margin-left: 20px;
    
  }
}

@media (max-width: 384px) {
  .fonttt li a div {
    font-size: 9px;
  }
  .fonttt li a {
    font-size: 9px;
  }
  .fonttt li a div img {
    width: 9px !important;
    height: 10px !important;
  }
  /* .qa-gambar {
    display: none;
  } */

  
  .font-view {
    margin-top: 10px;
    font-size: 18px !important;
  }
}

@media (max-width: 360px){
 .bg-modal .col-6 button{
    font-size: 12px !important;
  }

}


.slick-next:before,
.slick-prev:before {
  font-family: slick;
  font-size: 29px !important;
  line-height: 1;
  opacity: 0.75;
  color: #1b7e07 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-next:before {
  margin-right: 0px;
}
.slick-prev:before {
  margin-left: 0px;
}
.q li .aktiff{
  background-color: #1b7e07 !important;
  color: #f5f1f1;
}

.wid{
  width:240px !important;
}
.ukuran {
margin-top: auto;
margin-bottom: auto;   
  }